@model Entities.ViewModel.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password Page";
}

<!-- Overlay for small screens -->
<div class="overlay" id="overlay"></div>

<div class="content mt-2" id="content">
    <!-- Main content goes here -->
    <div class="col ms-3">
        <h1 class="webybtn">Change Password</h1>
    </div>


    <div class="row  d-flex mb-2  p-3 m-1">
        <div class="container d-flex justify-content-start">
            <form id="changePasswordForm" asp-action="ChangePassword" class="w-25" method="post">
                <p class="text-muted small">Enter a new password to update your account credentials</p>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-floating mb-3 position-relative">
                            <input type="password" asp-for="CurrentPassword" class="form-control"
                                placeholder="New Password">
                            <label for="floatingInput" asp-for="CurrentPassword">Current Password*</label>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (ViewData["Message"] != null)
                {
                    <div class="alert alert-@ViewData["MessageType"]">
                        @ViewData["Message"]
                    </div>
                }
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-floating mb-3 position-relative">
                            <input type="password" asp-for="NewPassword" class="form-control"
                                placeholder="New Password">
                            <label for="floatingInput" asp-for="NewPassword">New Password*</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-floating mb-3 position-relative">
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control"
                                placeholder="New Password">
                            <label for="floatingInput" asp-for="ConfirmNewPassword">Confirm New Password*</label>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-start">

                    <button type="submit" class="btn text-white text-center"
                        style="background-color: rgba(0, 102, 167, 1); border-color: rgba(0, 102, 167, 1);">
                        Submit
                    </button>
                    <button type="button" class="btn"
                        style="background-color: white; border-color: rgba(0, 102, 167, 1); color: rgba(0, 102, 167, 1);">
                        Cancel
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}